@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-principal: #000000;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #22D4FD;
    --cor-hover: #272727;

    /* --cor-principal: #2C3639; 
    --cor-secundaria: #DCD7C9;
    --cor-terciaria: #A27B5C;
    --cor-hover: #3F4E4F; */

    /* --cor-principal: #0F0E0E;
    --cor-secundaria: #EEEEEE;
    --cor-terciaria: #8B9A46;
    --cor-hover: #541212; */

    --fonte-primaria: 'Roboto', 'sans-serif';
    --fonte-secundaria: 'Montserrant', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-principal);
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__link {
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.apresentacao__conteudo {
    display: flex;
    width: 50%;
    flex-direction: column;
    height: 100%;
    gap: 40px;
    font-family: var(--fonte-primaria);
}

.apresentacao__conteudo__titulo {
    /* color do texto */
    color: var(--cor-secundaria);
    font-size: 2.25rem;
}

.titulo-destaque {
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__texto {
    font-size: 1.5rem;
}

.apresentacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5% 15%;
    gap: 82px;
}

.apresentacao_links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 32px;
}

.apresentacao__links__subtitulo {
    font-family: var(--fonte-primaria);
    font-weight: 400px;
    font-size: 1.5rem;
}

.apresentacao__links__navegacao {
    display: flex;
    color: var(--cor-secundaria);
    text-decoration: none;
    text-align: center;
    width: 50%;
    margin: 10px;
    border-radius: 8px;
    padding: 21.5px 10;
    font-size: 1.5rem;
    font-weight: 600;
    border: 2px solid var(--cor-terciaria);
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.apresentacao__links__navegacao:hover {
    background-color: var(--cor-hover);
}

p {
    color: var(--cor-secundaria);
}

img {
    width: 300px;
    border-radius: 10px;
}



.apresentacao__imagem {
    width: 50%;
    height: 1%;
}

.rodape {
    color: var(--cor-principal);
    background-color: var(--cor-terciaria);
    padding: 24px;
    text-align: center;
    font-family: var(--fonte-primaria);
    font-size: 1.5rem;
    font-weight: 400;
}

@media (max-width:1200px) {
    .cabecalho{
        padding: 10% ;
    }
    .cabecalho__menu{
        justify-content: center;
    }
    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
    }
    .apresentacao__conteudo{
        width: auto;
    }  
}